force-app/main/default/flows/Operational_Risk_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_KOR_KI_Record_Type</name>
        <label>Set KOR-KI Record Type</label>
        <locationX>896</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>vRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121U0000006GgeQAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entity_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LL_Record_Type</name>
        <label>Set LL Record Type</label>
        <locationX>197</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>vRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121U0000006GgfQAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entity_Information</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>cExternal</name>
        <choiceText>External</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>External</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_CorrectEntity_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_CorrectEntity_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_CreateRecord_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ch_CreateRecord_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Keep_as_Draft</name>
        <choiceText>Keep as Draft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keep as Draft</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q10_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q10_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q11_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q11_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q12_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q12_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q13_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q13_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q1_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q1_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q2_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q2_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q3_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q3_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q4_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q4_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q5_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q5_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q6_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q6_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q7_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q8_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q8_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q9_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q9_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_KK_Q_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q1_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q1_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q2_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q2_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q3_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q3_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q4_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q4_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q5_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q5_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q6_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q6_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q7_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_LL_Q7_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ch_Submit_for_Approval</name>
        <choiceText>Submit for Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit for Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChLegal_Before_commencement</name>
        <choiceText>Before commencement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Before commencement</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChLegal_Before_publication</name>
        <choiceText>Before publication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Before publication</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChQtr_1Q</name>
        <choiceText>1Q</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1Q</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChQtr_2Q</name>
        <choiceText>2Q</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2Q</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChQtr_3Q</name>
        <choiceText>3Q</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3Q</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChQtr_4Q</name>
        <choiceText>4Q</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4Q</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChRecordType_KOR_KI_Challenge</name>
        <choiceText>Operational Risk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operational Risk</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChRecordType_LessonsLearned</name>
        <choiceText>Lessons Learned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lessons Learned</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChStatus_Draft</name>
        <choiceText>Draft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChStatus_Scheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChStatus_Submitted</name>
        <choiceText>Submitted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submitted</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChType_Ad_hoc</name>
        <choiceText>Ad hoc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad hoc</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChType_Cycled</name>
        <choiceText>Cycled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cycled</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChYear_2017</name>
        <choiceText>2017</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2017</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChYear_2018</name>
        <choiceText>2018</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2018</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChYear_2019</name>
        <choiceText>2019</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2019</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChYear_2020</name>
        <choiceText>2020</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChYear_2021</name>
        <choiceText>2021</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2021</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChYear_2022</name>
        <choiceText>2022</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2022</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChYear_2023</name>
        <choiceText>2023</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2023</stringValue>
        </value>
    </choices>
    <choices>
        <name>cInternal</name>
        <choiceText>Internal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Challenge_Record_Type</name>
        <label>Check Challenge Record Type</label>
        <locationX>542</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>Lessons_Learned_Specific_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>KOR_KI_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_ChallengeRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChRecordType_KOR_KI_Challenge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KOR_KI_Reporting_Period</targetReference>
            </connector>
            <label>Operational Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Challenge_Record_Type_2</name>
        <label>Check Challenge Record Type 2</label>
        <locationX>548</locationX>
        <locationY>1378</locationY>
        <defaultConnector>
            <targetReference>LL_Specific_Key_Questions_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lessons Learned</defaultConnectorLabel>
        <rules>
            <name>KOR_KI_Questions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_ChallengeRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChRecordType_KOR_KI_Challenge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KOR_KI_Specific_Key_Questions_1</targetReference>
            </connector>
            <label>KOR-KI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Entity</name>
        <label>Decision for Entity</label>
        <locationX>744</locationX>
        <locationY>946</locationY>
        <defaultConnector>
            <targetReference>Entity_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Entity Incorrect</defaultConnectorLabel>
        <rules>
            <name>Entity_is_Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmEntityYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_CorrectEntity_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Participant_Information</targetReference>
            </connector>
            <label>Entity is Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Completion</name>
        <label>Decision on Completion</label>
        <locationX>570</locationX>
        <locationY>2199</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DecisionCompletion_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_ready_to_create_the_Challenge_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_CreateRecord_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Record_Type</name>
        <label>Decision on Record Type</label>
        <locationX>572</locationX>
        <locationY>2329</locationY>
        <defaultConnector>
            <targetReference>Create_Challenge_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lessons Learned Creation</defaultConnectorLabel>
        <rules>
            <name>KOR_KI_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_ChallengeRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChRecordType_KOR_KI_Challenge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Challenge_Record_KORKI</targetReference>
            </connector>
            <label>KOR-KI Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Submit</name>
        <label>Decision on Submit</label>
        <locationX>575</locationX>
        <locationY>2865</locationY>
        <defaultConnectorLabel>Keep as Draft</defaultConnectorLabel>
        <rules>
            <name>Decision_Submit_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submit_y_n_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ch_Submit_for_Approval</elementReference>
                </rightValue>
            </conditions>
            <label>Submit for Approval</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Ch_LegalConsultation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Legal_Consultation__c</picklistField>
        <picklistObject>Challenge__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ConcatReportingPeriod</name>
        <dataType>String</dataType>
        <expression>{!Reporting_Quarter} + &quot; &quot; + {!Reporting_Year}</expression>
    </formulas>
    <formulas>
        <name>Get30Days</name>
        <dataType>Date</dataType>
        <expression>({!$Flow.CurrentDate} + 30)</expression>
    </formulas>
    <interviewLabel>Operational Risk Review Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Operational Risk Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Challenge_Record</name>
        <label>Create Challenge Record</label>
        <locationX>418</locationX>
        <locationY>2485</locationY>
        <assignRecordIdToReference>vChallengeRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Look_up_Challenge_ID_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Actions_Recommended_by_ORM__c</field>
            <value>
                <elementReference>vActionsRecommendedRichText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_End_Date__c</field>
            <value>
                <elementReference>Challenge_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Entity_Primary_Contact__c</field>
            <value>
                <elementReference>vChallengeEntityPrimaryContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Entity_Secondary_Contact__c</field>
            <value>
                <elementReference>vChallengeEntitySecContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Entity__c</field>
            <value>
                <elementReference>vEntityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Report_Issue_Date__c</field>
            <value>
                <elementReference>Challenge_Report_Issue_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Start_Date__c</field>
            <value>
                <elementReference>Challenge_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Status__c</field>
            <value>
                <elementReference>Challenge_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Title__c</field>
            <value>
                <elementReference>Challenge_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Type__c</field>
            <value>
                <elementReference>Challenge_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Question_1_Lessons_Learned__c</field>
            <value>
                <elementReference>vLL_1_Comments_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Question_2_Lessons_Learned__c</field>
            <value>
                <elementReference>vLL_2_Comments_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Question_3_Lessons_Learned__c</field>
            <value>
                <elementReference>vLL_3_Comments_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Question_4_Lessons_Learned__c</field>
            <value>
                <elementReference>vLL_4_Comments_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Question_5_Lessons_Learned__c</field>
            <value>
                <elementReference>vLL_5_Comments_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Path__c</field>
            <value>
                <elementReference>vEscalationPathText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Source__c</field>
            <value>
                <elementReference>vEventSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Event_Reference__c</field>
            <value>
                <elementReference>vExternalEventResource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LCS_ID__c</field>
            <value>
                <elementReference>vLCS_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Managed_Geography_Unit__c</field>
            <value>
                <elementReference>vManagedGeorgraphy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Managed_Segment__c</field>
            <value>
                <elementReference>vManagedSegment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Observations__c</field>
            <value>
                <elementReference>vOverallObservationsRichText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Business_Op_Risk_Manager__c</field>
            <value>
                <elementReference>vPrimaryBusinessOpRiskMgr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Independent_Challenger__c</field>
            <value>
                <elementReference>vPrimaryIndChallenger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_L1__c</field>
            <value>
                <elementReference>vReportingL1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_Lessons_Learned_Question_1__c</field>
            <value>
                <elementReference>LL_Q1_Response_yesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_Lessons_Learned_Question_2__c</field>
            <value>
                <elementReference>LL_Q2_Response_yesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_Lessons_Learned_Question_3__c</field>
            <value>
                <elementReference>LL_Q3_Response_yesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_Lessons_Learned_Question_4__c</field>
            <value>
                <elementReference>LL_Q4_Response_yesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_Lessons_Learned_Question_5__c</field>
            <value>
                <elementReference>LL_Q5_Response_yesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Acceptance_Details__c</field>
            <value>
                <elementReference>vRiskAcceptanceDetailsText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Acceptance_y_n__c</field>
            <value>
                <elementReference>vRiskAcceptanceYesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Remediation_y_n__c</field>
            <value>
                <elementReference>vRiskRemediationYesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Business_Op_Risk_Manager__c</field>
            <value>
                <elementReference>vSecondaryBusOpRiskMgr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Independent_Challenger__c</field>
            <value>
                <elementReference>vSecondaryIndChallenger</elementReference>
            </value>
        </inputAssignments>
        <object>Challenge__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Challenge_Record_KORKI</name>
        <label>Create Challenge Record KOR-KI</label>
        <locationX>693</locationX>
        <locationY>2483</locationY>
        <assignRecordIdToReference>vChallengeRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Look_up_Challenge_ID_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Actions_Recommended_by_ORM__c</field>
            <value>
                <elementReference>vActionsRecommendedRichText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_End_Date__c</field>
            <value>
                <elementReference>Challenge_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Entity_Primary_Contact__c</field>
            <value>
                <elementReference>vChallengeEntityPrimaryContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Entity_Secondary_Contact__c</field>
            <value>
                <elementReference>vChallengeEntitySecContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Entity__c</field>
            <value>
                <elementReference>vEntityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Report_Issue_Date__c</field>
            <value>
                <elementReference>Challenge_Report_Issue_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Start_Date__c</field>
            <value>
                <elementReference>Challenge_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Status__c</field>
            <value>
                <elementReference>Challenge_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Title__c</field>
            <value>
                <elementReference>Challenge_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Type__c</field>
            <value>
                <elementReference>Challenge_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Question_1_KOR_KI__c</field>
            <value>
                <elementReference>vKORKI_1_Comments_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Question_2_KOR_KI__c</field>
            <value>
                <elementReference>vKORKI_2_Comments_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Question_3_KOR_KI__c</field>
            <value>
                <elementReference>vKORKI_3_Comments_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Question_4_KOR_KI__c</field>
            <value>
                <elementReference>vKORKI_4_Comments_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Question_5_KOR_KI__c</field>
            <value>
                <elementReference>vKORKI_5_Comments_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Path__c</field>
            <value>
                <elementReference>vEscalationPathText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Managed_Geography_Unit__c</field>
            <value>
                <elementReference>vManagedGeorgraphy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Managed_Segment__c</field>
            <value>
                <elementReference>vManagedSegment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Observations__c</field>
            <value>
                <elementReference>vOverallObservationsRichText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Business_Op_Risk_Manager__c</field>
            <value>
                <elementReference>vPrimaryBusinessOpRiskMgr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Independent_Challenger__c</field>
            <value>
                <elementReference>vPrimaryIndChallenger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_L1__c</field>
            <value>
                <elementReference>vReportingL1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Period__c</field>
            <value>
                <elementReference>ConcatReportingPeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_KOR_KI_Question_1__c</field>
            <value>
                <elementReference>KORK1_Q1_Response_yesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_KOR_KI_Question_2__c</field>
            <value>
                <elementReference>KORK1_Q2_Response_yesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_KOR_KI_Question_3__c</field>
            <value>
                <elementReference>KORK1_Q3_Response_yesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_KOR_KI_Question_4__c</field>
            <value>
                <elementReference>KORK1_Q4_Response_yesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_KOR_KI_Question_5__c</field>
            <value>
                <elementReference>KORK1_Q5_Response_yesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Acceptance_Details__c</field>
            <value>
                <elementReference>vRiskAcceptanceDetailsText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Acceptance_y_n__c</field>
            <value>
                <elementReference>vRiskAcceptanceYesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Remediation_y_n__c</field>
            <value>
                <elementReference>vRiskRemediationYesNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Business_Op_Risk_Manager__c</field>
            <value>
                <elementReference>vSecondaryBusOpRiskMgr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Independent_Challenger__c</field>
            <value>
                <elementReference>vSecondaryIndChallenger</elementReference>
            </value>
        </inputAssignments>
        <object>Challenge__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_all_biz_entities</name>
        <label>get all biz entities</label>
        <locationX>548</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_ORM_Challenge_Starting_Point</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Entity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_up_Challenge_ID_Name</name>
        <label>Look up Challenge ID Name</label>
        <locationX>572</locationX>
        <locationY>2620</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Creation_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChallengeRecordID</elementReference>
            </value>
        </filters>
        <object>Challenge__c</object>
        <outputAssignments>
            <assignToReference>vChallengeAutoNumberName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_up_Entity_Attributes</name>
        <label>Look up Entity Attributes</label>
        <locationX>540</locationX>
        <locationY>837</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Entity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntityLookupOrig.recordId</elementReference>
            </value>
        </filters>
        <object>Business_Entity__c</object>
        <outputAssignments>
            <assignToReference>vManagedGeorgraphy</assignToReference>
            <field>Geography__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vManagedSegment</assignToReference>
            <field>Managed_Segment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vEntity</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vReportingL1</assignToReference>
            <field>Reporting_Level_1__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Entity</name>
        <label>Confirm Entity</label>
        <locationX>539</locationX>
        <locationY>945</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_for_Entity</targetReference>
        </connector>
        <fields>
            <name>PleaseConfirmEntity</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please confirm the following Business Entity details:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedEntityDetails</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Entity Name:&lt;B&gt; &lt;/B&gt;{!vEntity}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Top Level Reporting: {!vReportingL1}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Business Unit: {!vManagedSegment}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Geography:&lt;B&gt; &lt;/B&gt;{!vManagedGeorgraphy}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmEntityYesNo</name>
            <choiceReferences>Ch_CorrectEntity_Yes</choiceReferences>
            <choiceReferences>Ch_CorrectEntity_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Is this the correct Business Entity?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entity_Information</name>
        <label>Entity Information</label>
        <locationX>540</locationX>
        <locationY>723</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Look_up_Entity_Attributes</targetReference>
        </connector>
        <fields>
            <name>EntityLookupOrig</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Challenge_Entity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Business Entity:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Challenge__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finalize_Confirmation</name>
        <label>Finalize Confirmation</label>
        <locationX>570</locationX>
        <locationY>2071</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_on_Completion</targetReference>
        </connector>
        <fields>
            <name>ConfirmFinish</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Confirming &amp;quot;Yes&amp;quot; and clicking Next will create your Risk Review record.  You will still have a chance to edit the record before submitting for approval.  To make additional changes now click the Previous button below.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_ready_to_create_the_Challenge_Record</name>
            <choiceReferences>Ch_CreateRecord_Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you ready to create the Risk Review record?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Information</name>
        <label>General Information</label>
        <locationX>544</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Challenge_Record_Type</targetReference>
        </connector>
        <fields>
            <name>SelectRecordTypeHeading</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_select_ChallengeRecordType</name>
            <choiceReferences>ChRecordType_LessonsLearned</choiceReferences>
            <choiceReferences>ChRecordType_KOR_KI_Challenge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please select risk review type:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Challenge_Title</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Risk Review Title:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please enter a title for your challenge.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Challenge_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Start Date:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please enter a date for when the challenge will start.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Challenge_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get30Days</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;End Date:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please enter a date for when the challenge will end.</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Challenge End Date cannot be less than the Challenge Start Date.  Please correct the Challenge Start/End Dates.</errorMessage>
                <formulaExpression>{!Challenge_Start_Date} &lt;  {!Challenge_End_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Challenge_Status</name>
            <choiceReferences>ChStatus_Draft</choiceReferences>
            <choiceReferences>ChStatus_Scheduled</choiceReferences>
            <choiceReferences>ChStatus_Submitted</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChStatus_Draft</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Status:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>The defaul value for a new challenge is &quot;draft&quot;.  This will be set to another status once you finalize this challenge based on specific business rules.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Challenge_Type</name>
            <choiceReferences>ChType_Ad_hoc</choiceReferences>
            <choiceReferences>ChType_Cycled</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChType_Ad_hoc</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Sub Type:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Challenge_Report_Issue_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Report Issue Date:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KOR_KI_Reporting_Period</name>
        <label>KOR-KI Reporting Period</label>
        <locationX>728</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_KOR_KI_Record_Type</targetReference>
        </connector>
        <fields>
            <name>KORKIReportingPeriodText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Since you selected Operational Risk you must specify a reporting period.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reporting_Quarter</name>
            <choiceReferences>ChQtr_1Q</choiceReferences>
            <choiceReferences>ChQtr_2Q</choiceReferences>
            <choiceReferences>ChQtr_3Q</choiceReferences>
            <choiceReferences>ChQtr_4Q</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reporting Quarter</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reporting_Year</name>
            <choiceReferences>ChYear_2023</choiceReferences>
            <choiceReferences>ChYear_2022</choiceReferences>
            <choiceReferences>ChYear_2021</choiceReferences>
            <choiceReferences>ChYear_2020</choiceReferences>
            <choiceReferences>ChYear_2019</choiceReferences>
            <choiceReferences>ChYear_2018</choiceReferences>
            <choiceReferences>ChYear_2017</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reporting Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KOR_KI_Specific_Key_Questions_1</name>
        <label>KOR-KI Specific Key Questions 1</label>
        <locationX>758</locationX>
        <locationY>1461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>KOR_KI_Specific_Key_Questions_2</targetReference>
        </connector>
        <fields>
            <name>KORKI_Question1_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Operational Risk Key Questions (1 of 5)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Did the Business consider scenario analysis and emerging risks in its operational risk identification process?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space20</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KORK1_Q1_Response_yesNo</name>
            <choiceReferences>Ch_KK_Q1_Yes</choiceReferences>
            <choiceReferences>Ch_KK_Q1_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please answer:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>KORKI_Comments_RichText</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KOR_KI_Specific_Key_Questions_2</name>
        <label>KOR-KI Specific Key Questions 2</label>
        <locationX>761</locationX>
        <locationY>1583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>KOR_KI_Specific_Key_Questions_3</targetReference>
        </connector>
        <fields>
            <name>KORKI_Question2_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Operational Risk &lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt;Key Questions (2 of 5)&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Was there consideration of underlying or supporting key operational risks in a prioritization process?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space21</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KORK1_Q2_Response_yesNo</name>
            <choiceReferences>Ch_KK_Q2_Yes</choiceReferences>
            <choiceReferences>Ch_KK_Q2_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please answer:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>KORKI_Comments_RichText_2</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KOR_KI_Specific_Key_Questions_3</name>
        <label>KOR-KI Specific Key Questions 3</label>
        <locationX>765</locationX>
        <locationY>1699</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>KOR_KI_Specific_Key_Questions_4</targetReference>
        </connector>
        <fields>
            <name>KORKI_Question3_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Operational Risk &lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt;Key Questions (3 of 5)&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Where operational risks align to centralized functions (e.g. Technology, Fraud, Third Party, etc.), have other SMEs been involved to comment on the proposed operational risks?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space23</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KORK1_Q3_Response_yesNo</name>
            <choiceReferences>Ch_KK_Q3_Yes</choiceReferences>
            <choiceReferences>Ch_KK_Q3_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please answer:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>KORKI_Comments_RichText_3</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KOR_KI_Specific_Key_Questions_4</name>
        <label>KOR-KI Specific Key Questions 4</label>
        <locationX>771</locationX>
        <locationY>1803</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>KOR_KI_Specific_Key_Questions_5</targetReference>
        </connector>
        <fields>
            <name>KORKI_Question4_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Operational Risk&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt; Key Questions (4 of 5)&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Was a combination of quantitative and qualitative tests applied to ensure that the most significant risks are identified?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space25</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KORK1_Q4_Response_yesNo</name>
            <choiceReferences>Ch_KK_Q4_Yes</choiceReferences>
            <choiceReferences>Ch_KK_Q4_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please answer:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>KORKI_Comments_RichText_4</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KOR_KI_Specific_Key_Questions_5</name>
        <label>KOR-KI Specific Key Questions 5</label>
        <locationX>775</locationX>
        <locationY>1926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finalize_Confirmation</targetReference>
        </connector>
        <fields>
            <name>KORKI_Question5_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Operational Risk &lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt;Key Questions (5 of 5)&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Are there remediation actions already in place?  If yes, please describe.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space26</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KORK1_Q5_Response_yesNo</name>
            <choiceReferences>Ch_KK_Q5_Yes</choiceReferences>
            <choiceReferences>Ch_KK_Q5_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please answer:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>KORKI_Comments_RichText_5</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lessons_Learned_Specific_Details</name>
        <label>Lessons Learned Specific Details</label>
        <locationX>364</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_LL_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Internal_or_External</name>
            <choiceReferences>cInternal</choiceReferences>
            <choiceReferences>cExternal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the Event Source Internal or External?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>External_Event_Source_ID</name>
            <dataType>String</dataType>
            <fieldText>External Event Source ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Internal_or_External</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>cExternal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Internal_ID</name>
            <dataType>String</dataType>
            <fieldText>Internal ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Internal_or_External</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>cInternal</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Legal_Consultation</name>
            <choiceReferences>Ch_LegalConsultation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Legal Consultation:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Risk_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Operational Risk</stringValue>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Risk Type:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LL_Specific_Key_Questions_1</name>
        <label>LL Specific Key Questions 1</label>
        <locationX>357</locationX>
        <locationY>1463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LL_Specific_Key_Questions_2</targetReference>
        </connector>
        <fields>
            <name>LL_Question1_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lessons Learned Key Questions (1 of 5)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Does the information provided in the report adequately support the documented conclusions?&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space32</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LL_Q1_Response_yesNo</name>
            <choiceReferences>Ch_LL_Q1_Yes</choiceReferences>
            <choiceReferences>Ch_LL_Q1_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please answer:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LL_Comments_RichText_1</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LL_Specific_Key_Questions_2</name>
        <label>LL Specific Key Questions 2</label>
        <locationX>355</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LL_Specific_Key_Questions_3</targetReference>
        </connector>
        <fields>
            <name>LL_Question2_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lessons Learned Key Questions (2 of 5)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Were the Businesses and Functional Team impacted by the event engaged in the analysis?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space32_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LL_Q2_Response_yesNo</name>
            <choiceReferences>Ch_LL_Q2_Yes</choiceReferences>
            <choiceReferences>Ch_LL_Q2_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please answer:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LL_Comments_RichText_2</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LL_Specific_Key_Questions_3</name>
        <label>LL Specific Key Questions 3</label>
        <locationX>356</locationX>
        <locationY>1691</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LL_Specific_Key_Questions_4</targetReference>
        </connector>
        <fields>
            <name>LL_Question3_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lessons Learned Key Questions (3 of 5)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Was the information gathered to identify the details surrounding the loss sufficient?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space32_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LL_Q3_Response_yesNo</name>
            <choiceReferences>Ch_LL_Q3_Yes</choiceReferences>
            <choiceReferences>Ch_LL_Q3_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please answer:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LL_Comments_RichText_3</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LL_Specific_Key_Questions_4</name>
        <label>LL Specific Key Questions 4</label>
        <locationX>359</locationX>
        <locationY>1803</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LL_Specific_Key_Questions_5</targetReference>
        </connector>
        <fields>
            <name>LL_Question4_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lessons Learned Key Questions (4 of 5)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Was a thorough analysis performed?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space32_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LL_Q4_Response_yesNo</name>
            <choiceReferences>Ch_LL_Q4_Yes</choiceReferences>
            <choiceReferences>Ch_LL_Q4_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please answer:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LL_Comments_RichText_4</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LL_Specific_Key_Questions_5</name>
        <label>LL Specific Key Questions 5</label>
        <locationX>358</locationX>
        <locationY>1926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finalize_Confirmation</targetReference>
        </connector>
        <fields>
            <name>LL_Question5_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lessons Learned Key Questions (5 of 5)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Does the Auditor agree with the root cause of the event identified?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space32_0_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LL_Q5_Response_yesNo</name>
            <choiceReferences>Ch_LL_Q5_Yes</choiceReferences>
            <choiceReferences>Ch_LL_Q5_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please answer:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LL_Comments_RichText_5</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_ORM_Challenge_Starting_Point</name>
        <label>New Operational Risk Starting Point</label>
        <locationX>667</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>General_Information</targetReference>
        </connector>
        <fields>
            <name>StartingPointText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please use this Flow to create a new Operational Risk Review.  Let&amp;apos;s get started ... &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outcome_Details</name>
        <label>Outcome Details</label>
        <locationX>546</locationX>
        <locationY>1175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Risk_Remediation</targetReference>
        </connector>
        <fields>
            <name>OutcomeDetailsHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The following details can be added later if need be.  If you enter any text now it will be saved with the record.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Overall_Observations</name>
            <fieldText>Overall Observations:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Space878</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Actions_Recommended</name>
            <fieldText>Actions Recommended:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Participant_Information</name>
        <label>Participant Information</label>
        <locationX>544</locationX>
        <locationY>1078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Outcome_Details</targetReference>
        </connector>
        <fields>
            <name>ParticipantTemp</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select participants for this challenge.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sPrimaryAuditor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Primary_Independent_Challenger__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Auditor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Challenge__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PrimaryContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Challenge_Entity_Primary_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Challenge__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PrimaryBizOpRiskManager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Primary_Business_Op_Risk_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Business Op Risk Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Challenge__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SecondaryAuditor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Challenge__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Auditor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Secondary_Independent_Challenger__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SecondaryContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Challenge__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Challenge_Entity_Secondary_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SecondaryBizOpRiskManager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Challenge__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Business Op Risk Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Secondary_Business_Op_Risk_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Creation_Confirmation</name>
        <label>Record Creation Confirmation</label>
        <locationX>574</locationX>
        <locationY>2743</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_on_Submit</targetReference>
        </connector>
        <fields>
            <name>RecordCreationConfirmationMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you.  Your {!Please_select_ChallengeRecordType} Review has been recroded.  The ID is {!vChallengeAutoNumberName}.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Would you like to submit Review {!vChallengeAutoNumberName} for approval now or would you like to return to the record detail and leave the status as DRAFT (you can always submit for approval later)?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space40</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submit_y_n_Choice</name>
            <choiceReferences>Ch_Submit_for_Approval</choiceReferences>
            <choiceReferences>Ch_Keep_as_Draft</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Risk_Remediation</name>
        <label>Risk Remediation</label>
        <locationX>547</locationX>
        <locationY>1275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Challenge_Record_Type_2</targetReference>
        </connector>
        <fields>
            <name>BizAgreement</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business agreement to take recommended actions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BizRiskAcceptance</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business acceptance of risk without taking additional actions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>stage_Entity_Information</name>
        <isActive>true</isActive>
        <label>Entity Information</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>stage_General_Information</name>
        <isActive>true</isActive>
        <label>General Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>stage_KOR_KI_General</name>
        <isActive>false</isActive>
        <label>KOR-KI General</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>stage_Lessons_Learned_General</name>
        <isActive>false</isActive>
        <label>Lessons Learned General</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>stage_Participant_Information</name>
        <isActive>true</isActive>
        <label>Participant Information</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>414</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_all_biz_entities</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>vActionsRecommendedRichText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vApprovalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vChallengeAutoNumberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vChallengeEntityPrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vChallengeEntitySecContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vChallengeRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEntityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEntityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEscalationPathText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEventSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vExternalEventResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_10_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_11_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_12_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_13_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_1_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_2_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_3_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_4_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_5_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_6_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_7_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_8_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKORKI_9_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLCS_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLL_1_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLL_2_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLL_3_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLL_4_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLL_5_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLL_6_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLL_7_Comments_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLLIUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vManagedGeorgraphy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vManagedSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMRIManagedSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOverallObservationsRichText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPrimaryBusinessOpRiskMgr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPrimaryIndChallenger</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vReportingL1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRiskAcceptanceDetailsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRiskAcceptanceYesNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRiskRemediationYesNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSecondaryBusOpRiskMgr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSecondaryIndChallenger</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTitle_BizOps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Business Ops Risk Manager</stringValue>
        </value>
    </variables>
    <variables>
        <name>vTitle_IC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Independent Challenger</stringValue>
        </value>
    </variables>
    <variables>
        <name>vToastApprovalProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vToastCreateRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
